{% extends "home_page_base.html" %}

{% block title %}
	<title> Reset Password - Netlyst </title>
{% endblock %}

{% block content %}
        {% load static from staticfiles %}
        <img src="{% static 'images/city.jpg' %}" class="img_signup_background" alt="" />

        <br /><br /><br /><br /><br /><br /><br /><br /><br />



      <form method = "post" action = "{% url 'confirm' token username %}">
            {{form}}
              <p class="p_center">
                  <button type="submit" class="set_password_button">
                    CHANGE PASSWORD
                  </button>
             </p>
<!--         <table class="table_items_change_password">
          <tr>
            <td class="td_items">
              <br />
                <p class="reset_password_tittle"> Change Password</p>
                <hr><br />

                <table>
                  <tr>
                    <td class="set_password_middle">
                    <input type="password" id="inputPassword1" name="password1" class="input_set_password" placeholder="New Password">
                    </td>
                  </tr>

                  <tr>
                    <td class="set_password_middle">
                      <input type="password" id="inputPassword2" name="password2" class="input_reset_email" placeholder="Comfirm Password">
                    </td>
                  </tr>
                  {{form}}
                </table>


                

                <br /><br />
            </td>
          </tr>
        </table> -->
        {% csrf_token %}
      </form>

      

        <br /><br /><br /><br /><br />
        
  		<div class="set_password_page_container_bottom">
          <br />
          <p class="p_center">
            {% load static from staticfiles %}
            <a href="#"><img src="{% static 'images/download-on-apple-store.png' %}" class="imgdownload" alt=""/></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% load static from staticfiles %}
            <a href="#"><img src="{% static 'images/download-on-google-play.png' %}" class="imgdownload" alt=""/></a>
          </p>
          <br /><br />
          <p class="bottom_small_blue">
            <a href="#">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">SUPPORT</a>&nbsp;&nbsp;&nbsp;
            <a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">PRESS</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">API</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">JOBS</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">PRIVACY</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">TERMS</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">LANGUAGE</a>
            <p class="bottom_small_black_right">© 2015 NETLYST</p>
          </p>
          <br />
      </div>
		
{% endblock %}