{% extends "home_page_base.html" %}

{% block title %}
<title> follower </title>
{% endblock %}

{% block content %}

<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>


<table>
  <tr>
    <td class="navbar">
      <a href="{% url 'global' %}">
        {% load static from staticfiles %}
        <img src="{% static 'images/logo1_blue.png' %}" class="navbar_logo">
      </a>
    </td>

    <td class="navbar">
      <form method="post" action="{% url 'searchUser' %}" class="form-search">
        <input type="text" class="round_corner_search" name="search" placeholder="Search"></input>
        {% csrf_token %}
      </form>
    </td>

    <td class="navbar">
      <p class="navbar_username">
        <a href="{% url 'profile' %}">{{current_user}}</a>
      </p>
    </td>

    
  </tr>
</table>

<br />
<br />
{% load static from staticfiles %}
<script src="{% static 'js/d3.min.js' %}"> </script>
<script>

var width = 1200,
    height = 500

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.05)
    .distance(200)
    .charge(-100)
    .size([width, height]);

d3.json("{% url 'get_followee_graph'  current_user.id %}", function(error, graph) {
  if (error) throw error;

  var nodeById = d3.map();

  graph.nodes.forEach(function(node) {
    nodeById.set(node.id, node);
  });

  graph.links.forEach(function(link) {
    link.source = nodeById.get(link.source);
    link.target = nodeById.get(link.target);
  });


  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link");

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("g")
      .attr("class", "node")

      .call(force.drag);

  node.append("image")
      .attr("xlink:href", "https://netlyst.s3.amazonaws.com/images/WSrUyKTv_400x400.png")
      .attr("x", -10)
      .attr("y", -10)
      .attr("width", 50)
      .attr("height", 50);

  node.append("text")
      .attr("dx", 30)
      .attr("dy", ".35em")
      .text(function(d) { return d.id });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});
</script>




<div class="background_lightgrey">
  <hr>

    <br /><br />
    <p class="bottom_small_blue">
      <a href="#">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">SUPPORT</a>&nbsp;&nbsp;&nbsp;
      <a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">PRESS</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">API</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">JOBS</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">PRIVACY</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">TERMS</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">LANGUAGE</a>
      <p class="bottom_small_black_right">© 2015 NETLYST</p>
    </p>
    <br />
  </div>

  {% endblock %}


