{% extends "home_page_base.html" %}

{% block title %}
<title> Post Position - Netlyst </title>

  <style>
    html, body {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
    #map {
      height: 300px;
      width: 600px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
      margin-bottom: 80px;
      border:1px solid #E0E0E0;
    }
  </style>

{% endblock %}

{% block content %}
{% load static from staticfiles %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}" type="text/javascript"></script>

<table>
  <tr>
    <td class="navbar">
      {% load static from staticfiles %}
      <a href="{% url 'global' %}"><img src="{% static 'images/logo1_blue.png' %}" class="navbar_logo"></a>
    </td>

    <td class="navbar">
      <form class="form-search">
        <input type="text" class="round_corner_search" placeholder="Search"></input>
      </form>
    </td>

    <td class="navbar">
      <p class="navbar_username">
        <a href="{% url 'profile' %}">{{current_user}}</a>
      </p>
    </td>
  </tr>
</table>




<div class="background_lightgrey">
  <hr>


  <form enctype="multipart/form-data" method = "post" action ="{% url 'add_post'%}">
    <table class="table_items_send_post">
      <tr>
        <td class="td_items">
          <br />

          <table>
            <tr>

              <td class="reset_password_middle">

                <img src = "{% url 'postphoto' post.id %}" alt="{{form.user.value}}"width="200px" height="200px">
                {{post.text}}
                <a href="{% url 'viewprofile' post.user.id %}" name = "user">{{post.user.username}}</a>
                <input type="hidden" id="post_lat" value={{post.lat}}>
                <input type="hidden" id="post_lng" value={{post.lng}}>
              </td>
              <td>
              </td>
            </tr>
          </table>


          <br /><br />
        </td>
      </tr>
    </table>
    {% csrf_token %}
  </form>


      <table>
        <tr>
          <td></td>
          <td><div id="map"></div></td>
          <td></td>
        </tr>
      </table>


    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        // Specify features and elements to define styles.
        var styleArray = [
          {
            featureType: "all",
            stylers: [
             { saturation: -80 }
            ]
          },{
            featureType: "road.arterial",
            elementType: "geometry",
            stylers: [
              { hue: "#00ffee" },
              { saturation: 50 }
            ]
          },{
            featureType: "poi.business",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
        var post_lat = Number(document.getElementById("post_lat").value);
        var post_lng = Number(document.getElementById("post_lng").value);

        console.log(post_lat);
        console.log(post_lng);

        var myLatLng = {lat: post_lat, lng: post_lng};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          styles: styleArray,
          center: myLatLng
        });

        var post_image = "{% static 'images/map_feet.png' %}";
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!',
          icon: post_image,
        });
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdgarKz8i6GBpd6x_9aiTRY-uUSiWREHM&signed_in=false&callback=initMap"
        async defer>
    </script>

        <br /><br />
        <p class="bottom_small_blue">
          <a href="#">ABOUT US</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">SUPPORT</a>&nbsp;&nbsp;&nbsp;
          <a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">PRESS</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">API</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">JOBS</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">PRIVACY</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">TERMS</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">LANGUAGE</a>
          <p class="bottom_small_black_right">© 2015 NETLYST</p>
        </p>
        <br />
      </div>

      {% endblock %}